.search-bar {
  background-color: #252525 !important;
}

.input-bar {
  width: 95%;
}

.input-bar img {
  width: 40px;
  margin-right: 15px;
}

.input-bar input {
  background-color: #151515 !important;
  border: none !important;
  color: #fff !important;
}
